@import 'tailwindcss';

html {
	@apply dark:bg-slate-800;
}

.no-scrollbar::-webkit-scrollbar {
	display: none; /* Chrome, Safari, Opera */
} 

.no-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
